* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	overflow: hidden;

}
nav {
  text-align: right;
  align-items: center;
  display: flex;
  min-width: 70%;
   
}

.logo {
  float: left;
  max-height: 72px;
  min-width: 30%;
  text-align: center;
}

header::after {
  content: '';
  display: table;
  clear: both;

}
nav ul {
    list-style-type: none;
    width: 70%;
}

nav li a {
  display: inline;
  margin-left: 70px;
  padding-top: 8px 23px;
  text-decoration: none;
  float:left;
  